body{
    font-family: "Trebuchet MS", helvetica, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 85%; /* 720px */
    margin: 0px auto;
    background: #fff;
    min-width: 720px;
}

#marca{
    height: 200px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo{
    width: 72%; /* 520px */
    float: right;
}

#navegacao{
    width: 25%; /* 180px */ 
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#conteudo-principal{
    /* border: 1px solid red; */
    width: 61%; /* 320px */
    float: left;
}

img.img-noticia{
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario{
    /* border: 1px solid red; */
    width: 34%; /* 180px */
    height: auto;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p{
    padding-left: 4%;
    padding-right: 4%;
}



#navegacao ul{
    list-style: square;
}


#navegacao ul a{
    text-decoration: none;
    display: block;
    color: #000000;
    line-height: 40px;
}

#navegacao ul a:hover{
    background:#292828;
    color: #fff;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}