/* Configuração padrão + remove marcador de lista */

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/* configura o link para aparencia de menu */

ul a{
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(imagens/menu.png) no-repeat left bottom;
}

/* modifica como o link fica com o cursor do mouse em cima */

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #ffffff;
}

/* Seleciona Pagina atual */

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#contato #navegacao .contato a,
#noticia #navegacao .noticia a,
#servico #navegacao .servico a{
    background-position: right bottom;
    background-color: #f99200;
    color: #ffffff;
}