body{
    font-family: "Trebuchet MS", helvetica, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 720px;
    margin: 0px auto;
    background: #fff;
}

#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 520px;
    float: right;
}

#conteudo-principal{
    width: 320px;
    float: left;
}

#conteudo-secundario{
    width: 180px;
    height: auto;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul{
    list-style: square;
}


#navegacao ul a{
    text-decoration: none;
    display: block;
    color: #000000;
    line-height: 40px;
}

#navegacao ul a:hover{
    background:#292828;
    color: #fff;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}