body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 0;
}

ul{
    margin: 0px;
    padding: 1em;
    list-style-type: none;
}

ul li{
    float: left;
}

ul a{
    border: 1px solid red;
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
}

#header{
    height: 233px;
    display: block;
    background: #28305c url(imagens/fundo.png) repeat-x;
}

#navegacao{
    width: 70%;
    margin: 0 auto;
    padding: 2px; 
    border: 1px solid red;
    clear: both;
}

#logo{
    border: 1px solid red;
    width: 152px;
    height: 66px;
    margin-top: 10px;
    clear: both;
    background: url(imagens/logo.png) no-repeat left top;
}

#mapa-brasil{
    clear: both;
    background: url(imagens/detalhe-topo.png) no-repeat right bottom;
}
